<div class="container-fluid order-details-container ">
  <div class="row mb-4">
    <div class="col-12 col-lg-3">
      <lib-generic-button-text-with-icon
        buttonText="Torna Indietro"
        [iconLeft]="true"
        prefixIcon="bi bi-arrow-left"
        [buttonStyle]="ButtonTheme.OnlyText"
        (click)="close()"
      ></lib-generic-button-text-with-icon>
    </div>
  </div>
  <hr>

  <div class="orders-container row row-cols-1 row-cols-md-2 g-4">

    <div *ngFor="let product of orderDetails.products" class="col">
      <div class="product-details card h-100 mt-2 p-3">
        <div class="row mb-2">
          <div class="col-12 col-sm-4">
            <img [src]="getImageOfProduct(product)" class="card-img" alt="Product Image">
          </div>
          <div class="col-10 col-sm-8">
            <h4 class="mb-4">{{ product.name }}</h4>
            <div class="row">
              <div class="col-6">
                <h6>Quantità:</h6>
                <p class="text-muted">{{ product.quantity }}</p>
              </div>
              <div class="col-6">
                <h6>Peso:</h6>
                <p class="text-muted">{{ product.weight }} kg</p>
              </div>
            </div>
          </div>
        </div>

        <div class="column mt-2">
          <div class="col-12 mb-2">
            <h6>
              <button (click)="toggleCustomization(product)" class="btn btn-link p-0 custom-button">
                Personalizzazioni
                <i [ngClass]="{'bi bi-chevron-down small-chevron': !getCustomizationVisible(product), 'bi bi-chevron-up small-chevron': getCustomizationVisible(product)}"></i>
              </button>
            </h6>
            <ul *ngIf="getCustomizationVisible(product)" class="list-unstyled text-muted">
              <li *ngFor="let item of product.customization | keyvalue">
                <b>{{ item.key }}:</b> {{ item.value }}
              </li>
            </ul>
          </div>
          <div class="col-12 mb-2">
            <h6>Note:</h6>
            <p class="text-muted">{{ product.notes }}</p>
          </div>
          <div class="col-12 mb-2">
            <h6>Prezzo del prodotto:</h6>
            <p class="text-muted">€ {{ product.totalPrice }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let bundle of orderDetails.bundles" class="col">
      <div class="product-details card h-100 mt-2 p-3">
        <div class="row mb-2">
          <div class="col-12 col-sm-4">
            <img [src]="getImageOfBundle(bundle)" class="card-img" alt="Product Image">
          </div>
          <div class="col-10 col-sm-8">
            <h4 class="mb-4">{{ bundle.name }}</h4>
            <div class="row">
              <div class="col-6">
                <h6>Quantità:</h6>
                <p class="text-muted">{{ bundle.quantity }}</p>
              </div>
              <div class="col-6">
                <h6>Misura:</h6>
                <p class="text-muted">{{ bundle.measure.label }} kg</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-2">
          <h6>Prezzo del prodotto:</h6>
          <p class="text-muted">€ {{ bundle.totalPrice }}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="sticky-bottom mt-4 pt-4 border-top">
    <div class="row align-items-center">
      <div class="col-6">
        <h6>Data e ora ritiro:</h6>
        <p>{{ orderDetails.pickupDateTime }}</p>
      </div>
      <div class="col-6 text-end">
        <h6>Totale:</h6>
        <p>{{ orderDetails.totalPrice }} €</p>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <lib-generic-button
          (click)="contactUs()"
          buttonText="Contattaci"
          [buttonSize]="ButtonSizeTheme.Medium"
          [buttonStyle]="ButtonTheme.Primary"
        ></lib-generic-button>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 8px;">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">I nostri contatti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Contatta la nostra pasticceria al numero:
      </div>
      <div class="modal-body">
        +39 012 345 6789
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
