<div class="container-fluid order-details-container">
  <div class="row mb-4">
    <div class="col-12 col-lg-3">
      <lib-generic-button-text-with-icon
        buttonText="Torna Indietro"
        [iconLeft]="true"
        prefixIcon="bi bi-arrow-left"
        [buttonStyle]="ButtonTheme.OnlyText"
        (click)="close()"
      ></lib-generic-button-text-with-icon>
    </div>
  </div>
  <hr>

  <div class="orders-container row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-3 align-content-center justify-content-center g-4">
    <!-- Product Card -->
    <div *ngFor="let product of orderDetails.products" class="col px-2">
      <div class="product-details card h-80 mt-2">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-4">
              <img [src]="getImageOfProduct(product)" class="card-img img-fluid" alt="Product Image">
            </div>
            <div class="col-12 col-sm-8 mt-2">
              <h4 class="mb-4">{{ product.name }}</h4>
              <div class="row">
                <div class="col-6">
                  <h6>Quantità:</h6>
                  <p class="text-muted">{{ product.quantity }}</p>
                </div>
                <div class="col-6">
                  <h6>Peso:</h6>
                  <p class="text-muted">{{ product.weight }} kg</p>
                </div>
              </div>
            </div>
          </div>
          <div >
            <div class="mt-2 mb-1" *ngIf="getCustomization(product).length > 0">
              <h6>
                <button (click)="toggleCustomization(product)" class="btn btn-link p-0 custom-button ms-2">
                  Personalizzazioni
                  <i [ngClass]="{'bi bi-chevron-down small-chevron': !getCustomizationVisible(product), 'bi bi-chevron-up small-chevron': getCustomizationVisible(product)}" style="font-size: 1rem; width: 1rem; height: 1rem;"></i>
                </button>
              </h6>
              <ul *ngIf="getCustomizationVisible(product)" class="list-unstyled ms-3 text-muted">
                <li *ngFor="let customization of getCustomization(product)">
                  <b>{{ customization[0] }}:</b> {{ customization[1] }}
                </li>
              </ul>
            </div>
            <hr>
            <div *ngIf="product.notes" class="col-6">
              <h6>Note:</h6>
              <p>{{ product.notes }}</p>
            </div>
            <div class="ms-2">
              <h6>Prezzo del prodotto:</h6>
              <p class="text-muted ms-3">€ {{ product.totalPrice }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bundle Card -->
    <div *ngFor="let bundle of orderDetails.bundles" class="col px-lg-5">
      <div class="product-details card h-100 mt-2 p-3">
        <div class="card-body d-flex flex-column">
          <div class="row flex-grow-1">
            <div class="col-12 col-sm-4">
              <img [src]="getImageOfBundle(bundle)" class="card-img img-fluid" alt="Bundle Image">
            </div>
            <div class="col-12 col-sm-8">
              <h4 class="mb-4">{{ bundle.name }}</h4>
              <div class="row">
                <div class="col-6">
                  <h6>Quantità:</h6>
                  <p class="text-muted">{{ bundle.quantity }}</p>
                </div>
                <div class="col-6">
                  <h6>Misura:</h6>
                  <p class="text-muted">{{ bundle.measure.label }} kg</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="">
            <h6>Prezzo del prodotto:</h6>
            <p class="text-muted">€ {{ bundle.totalPrice }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Order Summary -->
  <div class="order-summary sticky-bottom mt-5 pt-4 border-top">
    <div class="row align-items-center mb-3">
      <div class="col-6">
        <h6>Data e ora ritiro:</h6>
        <p>{{ orderDetails.formattedPickupDate }}</p>
      </div>
      <div class="col-6 text-end">
        <h6>Totale:</h6>
        <p>{{ orderDetails.totalPrice }} €</p>
      </div>
    </div>
    <div class="row align-items-center mb-3">

      <div class="col-6 text-start">
        <h6>Status:</h6>
      </div>
      <div  class="col-6 text-end">
        <h6>Note:</h6>
        <p>{{ orderDetails.note }}</p>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <lib-generic-button
          (click)="contactUs()"
          buttonText="Contattaci"
          [buttonSize]="ButtonSizeTheme.Medium"
          [buttonStyle]="ButtonTheme.Primary"
        ></lib-generic-button>
      </div>
    </div>
  </div>
</div>

<!-- Contact Us Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 8px;">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">I nostri contatti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Contatta la nostra pasticceria al numero:
      </div>
      <div class="modal-body">
        +39 012 345 6789
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
