

<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>

  <div class="modal-body">
    <div *ngIf="loading">
      <apa-spinner></apa-spinner>
    </div>
    <div *ngIf="!loading">
      <div class="row mt-4 ms-2 me-2 mb-2">
        <div class="d-flex justify-content-center">
          <ng-container *ngIf="categoryName != 'Vassoi'">
            <div class="col-12">
              <img [src]="productDetails.imageUrl ? productDetails.imageUrl : noContent" style="min-width:125px; min-height: 152px; max-height:152px; object-fit: cover; border-radius: 0.375rem" class="card-img" alt="Product Image">
            </div>
          </ng-container>
          <ng-container *ngIf="categoryName === 'Vassoi'">
            <div class="col-12">
              <img [src]="trayDetails.imageUrl ? productDetails.imageUrl : noContent" style="min-width:125px; min-height: 152px; max-height:152px; object-fit: cover; border-radius: 0.375rem" class="card-img" alt="Product Image">
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row m-2">
        <ng-container *ngIf="categoryName != 'Vassoi'">
        <h4>{{ productDetails.name }}</h4>
        </ng-container>
        <ng-container *ngIf="categoryName == 'Vassoi'">
          <h4>{{ trayDetails.name }}</h4>
        </ng-container>
      </div>

      <div class="row m-1">
        <ng-container *ngIf="categoryName != 'Vassoi'">
          <p style="font-size: small; color: grey;">{{productDetails.description}}</p>
        </ng-container>
        <ng-container *ngIf="categoryName === 'Vassoi'">
          <p style="font-size: small; color: grey;">{{trayDetails.description}}</p>
        </ng-container>
      </div>

      <div class="row m-1">
        <ng-container *ngIf="categoryName != 'Vassoi'">
        <p style="font-size: medium; color: grey;">{{ productDetails.pricePerKg+'/kg' }}</p>
        </ng-container>
        <ng-container *ngIf="categoryName === 'Vassoi'">
          <p style="font-size: medium; color: grey;">{{ '€ ' +trayDetails.pricePerKg+'/kg' }}</p>
        </ng-container>
      </div>

      <div class="row m-1">
        <ng-container *ngIf="categoryName != 'Vassoi'">
        <p class="mb-1" style="font-size: large">Ingredienti</p>
          <p style="font-size: small; color: grey;">{{productDetails.ingredients}}</p>
        </ng-container>
      </div>

      <ng-container *ngIf="categoryName != 'Vassoi'">
      <div class="row m-1">
        <p class="mb-1" style="font-size: large">Allergeni</p>
        <p style="font-size: small; color: grey;">{{getAllergensNames()}}</p>
      </div>
      </ng-container>

      <ng-container *ngIf="categoryName != 'Vassoi'">
      <div class="row m-1">
        <p class="mb-1" style="font-size: large">Peso <span *ngIf="fromEdit" style="font-size: large"> scelto: ({{productToEdit.weight}} Kg)</span></p>
        <div ngbDropdown class="dropdown">
          <button class="btn btn-outline-dark" ngbDropdownToggle id="weightDropdown">
            {{ selectedWeight }} kg
          </button>
          <ul ngbDropdownMenu aria-labelledby="weightDropdown" class="dropdown-menu" style="max-height: 150px; overflow-y: auto;">
            <li *ngFor="let weight of weightOptions" class="dropdown-item" (click)="selectWeight(weight)">
              {{ weight }} kg
            </li>
          </ul>
        </div>
      </div>
      </ng-container>

      <ng-container *ngIf="categoryName === 'Vassoi'">
        <div class="row m-1">
          <p class="mb-1" style="font-size: large">Misura
            <span *ngIf="fromEdit" style="font-size: large"> scelta: {{productToEdit.measure.label}} ({{productToEdit.measure.weight}} kg)</span>
            </p>
          <div ngbDropdown class="dropdown">
            <button class="btn btn-outline-dark" ngbDropdownToggle id="measureDropdown">
              {{selectedMeasureLabel}} ({{ selectedMeasure }} kg)
            </button>
            <ul ngbDropdownMenu aria-labelledby="measureDropdown" class="dropdown-menu" style="max-height: 150px; overflow-y: auto;">
              <li *ngFor="let measure of measureOptions" class="dropdown-item" (click)="selectMeasure(measure)">
                {{measure.label}} ({{ measure.weight }} kg)
              </li>
            </ul>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="categoryName === 'Le Nostre Torte' || categoryName === 'Semifreddi' || fromEdit && productToEdit.notes">
        <div class="row ms-1 mt-3 me-1 mb-3">
          <lib-twentyfive-input
            labelText="Aggiungi una frase"
            placeholder="Tanti Auguri!"
            [value]="productInPurchase.notes"
            (input)="onInputChange($event)"
          ></lib-twentyfive-input>

          <div ngbDropdown class="dropdown" style="margin-left: 12px">
            <button ngbDropdownToggle class="row my-3 btn btn-outline-dark" [disabled]="decorativeText[0] === ''" id="colorDropdown">
              {{ selectedColor[0] || 'Seleziona colore scritta' }}
            </button>
            <ul ngbDropdownMenu aria-labelledby="colorDropdown" class="dropdown-menu">
              <li *ngFor="let color of colorOptions" class="dropdown-item">
                <button class="dropdown-item" (click)="selectColor(color)">
                  {{ color }}
                </button>
              </li>
            </ul>
          </div>
        </div>

      </ng-container>

      <ng-container *ngIf="categoryName === 'Le Nostre Torte' || fromEdit && productToEdit.attachment">
      <div class="row ms-2 mt-2 me-3">
        <p style="font-size:larger ">Immagine</p>
        <div class="drop-zone rounded  ms-1 mb-2 mt-1" #dropZone (drop)="handleDrop($event)" (dragover)="handleDragOver($event)" (click)="fileInput.click()">
          <div class="row">
            <div class="mb-4 text-purple">
              Trascina qui il file da caricare o clicca per selezionare un file
            </div>
          </div>
          <div *ngIf="file" class="row">
            <div class="col-10">
              <span>{{ file!.name }}</span>
            </div>
            <div class="col-2">
              <button class="btn btn-link text-dark" (click)="removeFile($event)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

        <input type="file" #fileInput style="display: none;" (change)="handleFileSelect($event)" accept=".png, .jpg, .jpeg">
      </ng-container>

      <hr>

      <div *ngIf="fromEdit" class="row ms-1 mt-3 me-1 mb-3">
        <span class="col-6 d-flex justify-content-start">
          Quantità
        </span>
        <span class="col-6 d-flex justify-content-end">
          {{productToEdit.quantity}}
        </span>
      </div>
      <div class="row ms-1 mt-3 me-1 mb-3">
        <span class="col-6 d-flex justify-content-start">
          Prezzo
        </span>
        <span class="col-6 d-flex justify-content-end">
          {{getRealPrice()}}
        </span>

      </div>

      <div *ngIf="!fromEdit" class="row ms-1 mt-3 me-1 mb-3">
          <lib-generic-button
            [type]="'submit'"
            (click)="saveNewProductInPurchase()"
            [buttonSize]="ButtonSizeTheme.FullWidth"
            [buttonStyle]="ButtonTheme.Primary"
            [buttonText]="'Aggiungi al carrello'"
          ></lib-generic-button>
      </div>

      <div *ngIf="fromEdit" class="row ms-1 mt-3 me-1 mb-3">
        <lib-generic-button
          [type]="'submit'"
          (click)="updateProduct()"
          [buttonSize]="ButtonSizeTheme.FullWidth"
          [buttonStyle]="ButtonTheme.Primary"
          [buttonText]="'Modifica prodotto'"
        ></lib-generic-button>
      </div>
    </div>
  </div>
</div>
