<div *ngIf="type == 'Payment'" class="modal-content">

  <div class="modal-header">
    <h5 class="modal-title">Metodi di pagamento</h5>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <lib-generic-button-text-with-icon
          buttonText="Paga con PayPal"
          suffixIcon="bi bi-phone"
          [buttonSize]="ButtonSizeTheme.ExtraLarge"
          [buttonStyle]="ButtonTheme.Secondary"
          [iconLeft]="false"
          [customStyles]="{'font-weight':'bold', 'color':'white', 'width':'100%'}"
          (click)="paymentMethod('paypal')"
        ></lib-generic-button-text-with-icon>
      </div>

      <div class="col-12 col-md-6">
        <lib-generic-button-text-with-icon
          [ngStyle]="{cursor: 'pointer'}"
          buttonText="Paga al ritiro"
          suffixIcon="bi bi-shop"
          [buttonSize]="ButtonSizeTheme.ExtraLarge"
          [buttonStyle]="ButtonTheme.Disabled"
          [iconLeft]="false"
          [customStyles]="{'font-weight':'bold', 'width':'100%'}"
          (click)="paymentMethod('store')"
        ></lib-generic-button-text-with-icon>
      </div>
    </div>

  </div>

</div>

<div *ngIf="type == 'Summary'" class="modal-content">

  <div class="modal-header">
    <h5 class="modal-title">Riepilogo</h5>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>

  <div class="modal-body">
    <div class="pickup-info">
      <span class="fw-bold">Data e ora ritiro: </span>
      <span>{{buyInfos.selectedPickupDateTime | date:'dd/MM/yyyy - HH:mm' }}</span>
    </div>

    <hr>

    <div class="items">
      <h6 class="fw-bold">Articoli:</h6>
      <div *ngFor="let p of summary" class="item">

        <span><span *ngIf="p.quantity > 1">x{{p.quantity}}</span> {{p.name}}</span>
        <span>{{p.price | currency:'EUR':'symbol':'1.2-2'}}</span>
      </div>
    </div>

    <hr>

    <div class="total">
      <span>Totale da pagare</span>
      <span>{{getTotalPrice() | currency:'EUR':'symbol':'1.2-2'}}</span>
    </div>
  </div>

  <div class="modal-footer">
    <lib-generic-button
      buttonText="Conferma pagamento"
      [buttonSize]="ButtonSizeTheme.ExtraLarge"
      [buttonStyle]="ButtonTheme.Secondary"
      [customStyles]="{'font-weight':'bold', 'color':'white', 'width':'100%'}"
      (click)="confirmPayment()"
    ></lib-generic-button>
    <lib-generic-button
      buttonText="Annulla"
      [ngStyle]="{cursor: 'pointer'}"
      [buttonSize]="ButtonSizeTheme.ExtraLarge"
      [buttonStyle]="ButtonTheme.Disabled"
      [customStyles]="{'font-weight':'bold', 'width':'100%'}"
      (click)="close()"
    ></lib-generic-button>
  </div>


</div>



