<div class="sticky-top">
  <lib-nav
    (onClick)="makeLogout($event)"
    [navbarNavigationUrl]="''"
    [title]="checkTitle()"
    [logoWidth]="128"
    [navbarLogo]="'assets/images/apa-full-white.svg'"
    [navbarStyle]="NavbarTheme.Primary"
    [showLeftTitle]="true"
    [sidebarItems]="sidebarItems"
  ></lib-nav>
</div>

<div class="wrapper" (keydown)="handleKeyDown($event)">
  <lib-twentyfive-sidebar [sidebarItems]="sidebarItems" (onClick)="makeLogout($event)"></lib-twentyfive-sidebar>

  <div class="container-fluid g-0 h-100">
    <!-- id is used as [id] in other projects -->
    <div id="content">
      <router-outlet></router-outlet>
      <div class="d-flex d-md-none" style="height: 20%"></div>
      <div class="d-md-flex d-none" style="height: 15%"></div>
    </div>
  </div>
</div>
