<div class="home">
  <!-- Section 1 & NavBar -->
  <div id="section1" class="section overlay">
    <img src="assets/images/home/apa-home-section1-bg1.jpeg" class="background-image">
      <img src="assets/images/home/apa-home-section1-bg1.jpeg" class="background-image animation">
      <img src="assets/images/home/apa-home-section1-bg2.jpeg" class="background-image animation">
      <img src="assets/images/home/apa-home-section1-bg3.jpeg" class="background-image animation">


    <div class="navbar">
      <img src="assets/images/apa-full-gold.png" style="width: 90px;">
      <lib-generic-button-text-with-icon
        prefixIcon="bi bi-person-fill"
        buttonText="ACCEDI"
        [customStyles]="{'border-radius':'50px', 'color':'white'}"
        [buttonStyle]="ButtonTheme.Secondary"
        [buttonSize]="ButtonSizeTheme.Small"
        (click)="goTo()"
      ></lib-generic-button-text-with-icon>
    </div>

    <div class="section">
      <h1>Scopri un mondo di dolci a portata di mano</h1>
      <p>Ordina i tuoi dolci preferiti da Antica Pasticceria direttamente dal tuo smartphone!</p>
      <lib-generic-button
        buttonText="Ordina Ora!"
        [customStyles]="{'border-radius':'50px', 'color':'white'}"
        [buttonStyle]="ButtonTheme.Secondary"
        [buttonSize]="ButtonSizeTheme.Small"
      ></lib-generic-button>
    </div>
  </div>


  <!-- Section 2 -->
  <div id="section2" class="section">
    <img src="assets/images/home/apa-home-section2-image.png" class="col-6">
    <div class="col-6">
      <h3>Chi siamo</h3>
      <p class="small-text">Benvenuti all'Antica Pasticceria, dove tradizione e innovazione si incontrano per deliziare i vostri sensi. Da oltre tre generazioni, la nostra famiglia si dedica con passione e maestria all'arte della pasticceria, offrendo una vasta gamma di dolci artigianali preparati con ingredienti di alta qualità.</p>
      <p class="small-text">La nostra missione è quella di creare esperienze indimenticabili attraverso i nostri prodotti, curando ogni dettaglio con amore e professionalità. Dalle torte personalizzate ai semifreddi, dai mignon alle specialità stagionali, ogni dolce è una piccola opera d'arte, realizzata per soddisfare i palati più esigenti.</p>
      <p class="small-text">Siamo fieri delle nostre radici, ma non smettiamo mai di guardare al futuro. Innoviamo continuamente le nostre ricette e i nostri metodi di preparazione per offrirvi sempre il meglio. Il nostro team di pasticceri esperti è sempre alla ricerca di nuove ispirazioni per sorprendere e deliziare.</p>
      <p class="small-text">Grazie alla nostra app, potete ora ordinare comodamente da casa e ritirare i vostri dolci preferiti in pasticceria, o farveli consegnare direttamente a casa. Venite a trovarci per scoprire il nostro assortimento di delizie e vivere un'esperienza di gusto unica.</p>
    </div>
  </div>

  <!-- Section 3 -->
  <div id="section3" class="section dark-bg">
    <h3 class="mb-4">Antica sì, ma digitale!</h3>
    <p class="small-text">Esplora i vantaggi della nostra app e scopri come la tradizione artigianale della nostra pasticceria si unisce all'innovazione tecnologica per offrirti un'esperienza d'acquisto moderna, semplice e conveniente.</p>

    <div class="section-card">
      <div class="card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section3-btn1.svg" width="100" height="100">
        <h5>Ordini rapidi e semplici</h5>
        <p class="small-text">Ordina i tuoi dolci preferiti in pochi click. Addio attese!</p>
      </div>
      <div class="card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section3-btn2.svg" width="100" height="100">
        <h5>Personalizzazione completa</h5>
        <p class="small-text">Personalizza le torte e dolci...</p>
      </div>
      <div class="card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section3-btn3.svg" width="100" height="100">
        <h5>Notifiche in tempo reale</h5>
        <p class="small-text">Ricevi aggiornamenti in tempo reale sullo stato del tuo ordine.</p>
      </div>
      <div class="card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section3-btn4.svg" width="100" height="100">
        <h5>Pagamenti sicuri e facili</h5>
        <p class="small-text">Paga online o all’arrivo...</p>
      </div>
    </div>
  </div>

  <!-- Section 4 -->
  <div id="section4" class="section">
    <h3 class="mb-4">Uno sguardo all'app</h3>

    <div>
      <img src="assets/images/home/apa-home-section4-1.png">
      <img src="assets/images/home/apa-home-section4-2.png">
      <img src="assets/images/home/apa-home-section4-3.png">
      <img src="assets/images/home/apa-home-section4-4.png">
    </div>
  </div>

  <!-- Section 5 -->
  <div id="section5" class="section dark-bg">
    <h3 class="mb-4">Torte per ogni occasione</h3>
    <p class="small-text mx-4">Per ogni evento speciale della tua vita, abbiamo la torta perfetta. Le nostre torte sono realizzate su misura per soddisfare ogni tipo di celebrazione e richiesta. Ecco alcune delle occasioni per cui realizziamo torte straordinarie:</p>

    <div class="section-card">
      <div class="custom-card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section5-1.png" width="100" height="100">
        <h5>Compleanni</h5>
      </div>
      <div class="custom-card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section5-2.png" width="100" height="100">
        <h5>Matrimoni</h5>
      </div>
      <div class="custom-card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section5-3.png" width="100" height="100">
        <h5>Lauree</h5>
      </div>
      <div class="custom-card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section5-4.png" width="100" height="100">
        <h5>Baby Shower</h5>
      </div>
      <div class="custom-card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section5-5.png" width="100" height="100">
        <h5>Eventi Sacri</h5>
      </div>
      <div class="custom-card col-12 col-sm-3">
        <img src="assets/images/home/apa-home-section5-6.png" width="100" height="100">
        <h5>Feste a tema</h5>
      </div>
    </div>
  </div>

  <!-- Section 6: Tutorial -->
  <div id="section6" class="overlay section">
    <img src="assets/images/home/apa-home-section6-bg.jpeg" class="background-image">
    <h3 style="color: #CDBB6D">Ordina la tua torta personalizzata</h3>
    <p style="padding: 1rem 2rem">Siamo orgogliosi di essere tra i primi a offrirti la possibilità di ordinare torte personalizzate direttamente dall'app. <br>
      Grazie alla nostra piattaforma digitale, puoi creare la torta perfetta per ogni occasione in pochi semplici passaggi. <br>
      Guarda il nostro video tutorial per scoprire quanto è facile e veloce personalizzare e ordinare una torta su misura, scegliendo tra una vasta gamma di ingredienti, decorazioni e opzioni di personalizzazione.<br>
      Con la nostra app, la tradizione artigianale della nostra pasticceria si combina con l'innovazione tecnologica, rendendo l'acquisto delle tue torte preferite un'esperienza comoda e piacevole.</p>
  </div>


  <app-dashboard-footer></app-dashboard-footer>
</div>
