<div class="card custom-card">
  <div class="row card-body p-0">
    <div class="col-8">
      <h5 class="card-title">{{ title }}</h5>
      <ng-container *ngIf="ingredientList">
        <p class="card-text text-truncate" style="font-size: small; color: gray">Ingredienti: {{ ingredientList.join(', ') }}</p>
      </ng-container>
      <ng-container *ngIf="description">
        <p class="card-text text-truncate" style="font-size: small; color: gray"> {{ description }}</p>
      </ng-container>
      <p class="card-text">{{ allergens }}</p>
      <h5 class="card-text">{{ price }}</h5>
    </div>
    <div class=" col-4 d-flex justify-content-center">
      <img [src]="imageUrl" class="img-fluid" style="overflow:hidden; object-fit: cover; border-radius: 0.5rem">
    </div>
  </div>
</div>
