<div class="row mb-4" xmlns="http://www.w3.org/1999/html">
  <div class="col-12 col-lg-3">
    <lib-generic-button-text-with-icon
      buttonText="Torna Indietro"
      [iconLeft]="true"
      prefixIcon="bi bi-arrow-left"
      [buttonStyle]="ButtonTheme.OnlyText"
      (click)="close()"
    ></lib-generic-button-text-with-icon>
  </div>
</div>

<hr/>

<div class="row mb-4 mt-4">
  <h3 *ngIf="!ingredientId">Crea Ingrediente</h3>
  <h3 *ngIf="ingredientId">Modifica Ingrediente</h3>
</div>

<div class="col-3">
  <div class="row mt-4">
    <lib-twentyfive-input
      labelText="Nome"
      placeholder="Nome"
      [value]="ingredient.name"
      (input)="onInputChange($event, 'name')"
    ></lib-twentyfive-input>
  </div>

  <div class="row mt-4 mb-4" *ngIf="allergens.length > 0">
    <div class="col-12">
      <label for="allergenDropdown" class="ms-1 form-label">Allergeni</label>
      <div ngbDropdown class="dropdown mt-2">
        <button ngbDropdownToggle class="btn btn-outline-dark" type="button" id="allergenDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Seleziona allergeni
        </button>

        <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="allergenDropdown" style="max-height: 200px; overflow-y: auto;">
          <li *ngFor="let allergen of allergens" class="dropdown-item" (click)="toggleAllergen(allergen)">
            <div class="form-check">
              <input type="checkbox" [checked]="selectedAllergens.includes(allergen)" style="display: none;">
              <label class="form-check-label" style="cursor: pointer;">
                <img [src]="allergen.iconUrl" class="small-icon">{{ allergen.name }}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-9">
  <div class="row mt-3">
    <div class="d-flex">
      <div *ngFor="let allergen of selectedAllergens" class="me-2 mb-2">
        <lib-twentyfive-chip
          [chipText]="allergen.name"
          [chipStyle]="ChipTheme.Secondary"
          [chipImg]="allergen.iconUrl"
          [closeableChip]="true"
          (closeChip)="closeChip(allergen)"
        ></lib-twentyfive-chip>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <lib-twentyfive-input
    [customStyles]="{'height': '100px', 'align-content': 'top'}"
    labelText="Descrizione"
    placeholder="Descrizione"
    [value]="ingredient.note"
    (input)="onInputChange($event, 'note')"
  ></lib-twentyfive-input>
</div>

<div class="row mt-4">
  <lib-twentyfive-checkbox
    checkboxText="Alcolico"
    (click)="changeAlcholic()"
    [value]="ingredient.alcoholic"
  ></lib-twentyfive-checkbox>
</div>

<div class="row mt-5">
  <hr>
</div>

<div class="d-flex justify-content-end mt-4" *ngIf="ingredientId">
  <lib-generic-button
    buttonText="Elimina"
    (click)="delete()"
    [buttonSize]="ButtonSizeTheme.Medium"
    [buttonStyle]="ButtonTheme.Primary"
    [customStyles]="{ 'background-color': 'red', 'color': 'white' }"
    class="me-2"
  ></lib-generic-button>
  <lib-generic-button
    buttonText="Modifica"
    (click)="saveNewIngredient()"
    [buttonSize]="ButtonSizeTheme.Medium"
    [buttonStyle]="ButtonTheme.Primary"
  ></lib-generic-button>
</div>

<div class="d-flex justify-content-end mt-4" *ngIf="!ingredientId">
  <lib-generic-button
    buttonText="Crea"
    (click)="saveNewIngredient()"
    [buttonSize]="ButtonSizeTheme.Medium"
    [buttonStyle]="ButtonTheme.Primary"
  ></lib-generic-button>
</div>
