<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li *ngFor="let category of navCategories" class="nav-item" role="presentation" ngbDropdown>
    <div (click)="setActiveTab(category)" class="nav-link" id="{{category.id}}-tab" data-bs-toggle="tab" [attr.data-bs-target]="'#'+category.id" role="tab" [class.active]="activeTab === category.id" [attr.aria-controls]="category.id" aria-selected="true">
      {{category.name}}
      <span ngbDropdownToggle class="dropdown-toggle" data-bs-toggle="dropdowns" role="button" aria-expanded="false"></span>
    </div>
    <ul ngbDropdownMenu class="dropdown-menu">
      <li><a class="dropdown-item" (click)="editCategoryToModify()">Modifica</a></li>
      <li><a class="dropdown-item" (click)="disableCategory()">Disattiva</a></li>
    </ul>
  </li>
  <li *ngFor="let category of disabledCategories" class="nav-item" role="presentation" ngbDropdown>
    <div class="nav-link disattivo">
      {{category.name}}
      <span ngbDropdownToggle class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"></span>
    </div>
    <ul ngbDropdownMenu class="dropdown-menu">
      <li><a class="dropdown-item" (click)="enableCategory(category.id)">Riattiva</a></li>
    </ul>
  </li>
  <i class="align-content-center ms-2 bi bi-plus-circle fs-6"
     (click)="editCategory()"
  ></i>
</ul>

<div class="tab-content mt-4" id="myTabContent">
  <ng-container *ngFor="let category of navCategories">
    <div *ngIf="activeTab === category.id" class="tab-pane fade show active" id="{{category.id}}-tab" role="tabpanel" [attr.aria-labelledby]="category.id + '-tab'">
      <div class="col-12 m-0">

        <div class="col-12 pb-3 mt-4">
          <lib-generic-button-text-with-icon
            buttonText="Crea {{category.name}}"
            suffixIcon="bi bi-plus-circle"
            (click) = "goToEdit()"
            [buttonSize]="ButtonSizeTheme.ExtraLarge"
            [buttonStyle]="ButtonTheme.Primary"
            [iconLeft]="false"
          ></lib-generic-button-text-with-icon>
        </div>

        <!-- Contenuto dinamico della scheda -->
        <ng-container [ngSwitch]="category.type">
          <div *ngSwitchCase="'productKg'">
            <twentyfive-accordion-table
              [data]="productListKg"
              [isSortable]="true"
              [headers]="headersKg"
              [showActions]="true"
              [checkedField]="'active'"
              [actions]="tableActions"
              [isPaginated]="true"
              [extras]="extras"
              [dataDetails]="dataDetailsKg"
              [singleOpen]="true"
              [showSwitch]="true"
              [detailsTemplateRef]="templateRefProduct"
              [page]="currentPage"
              [pageSize]="pageSize"
              [maxSize]="maxSize"
              [collectionSize]="collectionSize"
              [dropdownElements]="paginationElements"
              (detailsEmitter)="getProductDetails($event)"
              (changePageEmitter)="changePage($event)"
              (selectEmitter)="selectSize($event)"
              (sortableEmitter)="sortingColumn($event)"
              (changeSwitchValue)="switch($event)"
            ></twentyfive-accordion-table>
          </div>
          <div *ngSwitchCase="'productWeighted'">
            <twentyfive-accordion-table
              [data]="productListWeighted"
              [isSortable]="true"
              [headers]="headersWeighted"
              [showActions]="true"
              [checkedField]="'active'"
              [actions]="tableActions"
              [isPaginated]="true"
              [extras]="extras"
              [dataDetails]="dataDetailsWeighted"
              [singleOpen]="true"
              [showSwitch]="true"
              [detailsTemplateRef]="templateRefProduct"
              [page]="currentPage"
              [pageSize]="pageSize"
              [maxSize]="maxSize"
              [collectionSize]="collectionSize"
              [dropdownElements]="paginationElements"
              (detailsEmitter)="getProductDetails($event)"
              (changePageEmitter)="changePage($event)"
              (selectEmitter)="selectSize($event)"
              (sortableEmitter)="sortingColumn($event)"
              (changeSwitchValue)="switch($event)"
            ></twentyfive-accordion-table>
          </div>
          <div *ngSwitchCase="'tray'">
            <twentyfive-accordion-table
              [data]="trayList"
              [isSortable]="true"
              [headers]="headersTray"
              [showActions]="true"
              [checkedField]="'active'"
              [actions]="tableActions"
              [isPaginated]="true"
              [extras]="extras"
              [showSwitch]="true"
              [dataDetails]="dataDetailsTrays"
              [singleOpen]="true"
              [detailsTemplateRef]="templateRefTray"
              [page]="currentPage"
              [pageSize]="pageSize"
              [maxSize]="maxSize"
              [collectionSize]="collectionSize"
              [dropdownElements]="paginationElements"
              (detailsEmitter)="getProductDetails($event)"
              (changePageEmitter)="changePage($event)"
              (selectEmitter)="selectSize($event)"
              (sortableEmitter)="sortingColumn($event)"
              (changeSwitchValue)="switch($event)"
            ></twentyfive-accordion-table>
          </div>
          <ng-template #templateRefProduct>
            <div class="m-2 mt-0 mb-0">
              <h5 class="mb-4">Allergeni</h5>
              <ng-container *ngFor="let allergen of productDetails.allergens">
                <li>{{ allergen.name }}</li>
              </ng-container>
              <hr>
              <h5 class="mb-4 mt-4">Ingredienti</h5>
              <ng-container *ngFor="let ingredient of productDetails.ingredients">
                <li>{{ ingredient }}</li>
              </ng-container>
              <hr>
              <div *ngSwitchCase="'productKg'">
                <h5 class="mb-4 mt-4">Prezzo/Kg</h5>
                <li>{{productDetails.pricePerKg}}</li>
                <hr>
              </div>
              <div *ngSwitchCase="'productWeighted'">
                <h5 class="mb-4 mt-4">Peso</h5>
                <li>{{productDetails.weight}}</li>
                <hr>
              </div>
              <h5 class="mb-4 mt-4">Immagine</h5>
              <div *ngIf="productDetails.imageUrl"class="d-flex align-items-center">
                <img (click)="openImage()" [src]="productDetails.imageUrl" style="max-width: 120px; height: auto; cursor: pointer; position: relative;">
              </div>
              <div *ngIf="!productDetails.imageUrl"class="d-flex align-items-center">
                <span>Immagine non disponibile</span>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-template #templateRefTray>
    <div class="m-2 mt-0 mb-0">
      <h5 class="mb-4">Tipologia</h5>
      <span>{{ trayDetails.personalized }}</span>
      <hr>
      <h5 class="mb-4 mt-4">Misure</h5>
      <span>{{ trayDetails.measures }}</span>
      <hr>
      <h5 class="mb-4 mt-4">Descrizione</h5>
      <span>{{ trayDetails.description }}</span>
    </div>
  </ng-template>
</div>







