.modal-body {
  background-color: #f5f5f5;
  overflow-y: auto; /* Aggiungi overflow per lo scrolling */
  width: 100%; /* Ridimensiona l'immagine alla larghezza della colonna */
  height: auto; /* Altezza automatica per mantenere le proporzioni originali */
  object-fit: cover; /* Rimpicciolisci o allunga l'immagine per adattarla al suo contenitore */
}

.sticky-box {
  position: sticky;
  bottom: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Aumenta il padding */
  margin-top: 20px; /* Margine superiore per separare dal contenuto precedente */
  margin-bottom: 0;
  z-index: 1000; /* Assicurati che sia sopra gli altri elementi */
  min-height: 100px; /* Riduci l'altezza minima per evitare di occupare troppo spazio */
}
.gray-text {
  color: lightgray;
}

.gray-span {
  color: lightgray;
  font-size: 0.75em;
}

.large-text {
  font-size: 2rem; /* Puoi modificare la dimensione a piacere */
}
