.modal-body {
  background-color: #f5f5f5;
  overflow-y: auto; /* Aggiungi overflow per lo scrolling */
  width: 100%; /* Ridimensiona l'immagine alla larghezza della colonna */
  height: auto; /* Altezza automatica per mantenere le proporzioni originali */
  object-fit: cover; /* Rimpicciolisci o allunga l'immagine per adattarla al suo contenitore */
}

.content-container {
  padding-bottom: 5.5rem;; /* Spazio sufficiente per la sticky box */
}

.sticky-box {
  position: sticky; /* Posizione sticky */
  bottom: 0;
  background-color: white;
  border-top: 1px solid #ddd;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 1000; /* Assicurati che sia sopra gli altri elementi */
  box-sizing: border-box; /* Include padding e bordi nelle dimensioni totali */
}

.gray-text {
  color: lightgray;
}

.gray-span {
  color: lightgray;
  font-size: 0.75em;
}

.large-text {
  font-size: 2rem; /* Puoi modificare la dimensione a piacere */
}
