<div class="footer">

  <div class="row container m-md-0 m-lg-auto">
    <div class="custom-sm-col col-12 col-md-4 col-lg-3 ">
      <img src="assets/images/apa-full-white.svg" style="width: 100px; height: 100px">
    </div><!-- IMMAGINE -->


    <div class="custom-sm-col col-12 col-md-4 col-lg-3 mb-sm-4">
      <h6><b>Note Legali:</b></h6>
      <div class="row">
        <a href="#">Termini e condizioni</a>
      </div>
      <div class="row">
        <a href="#">Cookie policy</a>
      </div>
      <div class="row">
        <a href="#">Informativa sulla privacy</a>
      </div>
    </div><!-- NOTE LEGALI -->

    <div class="custom-sm-col col-12 col-md-4 col-lg-3">
      <h6><b>Contattaci:</b></h6>
      <p style="margin: 0">Tel: <a href="tel:+390984464331">0984 464331</a></p>
      <p>Email:
        <a href="mailto:info@antica-pasticceria.com">info&#64;antica-pasticceria.com</a>
      </p>


      <div class="footer-icons" style="margin: 10px 0;">
        <a href="https://www.facebook.com/anticapasticceriarende/" style="color: white; text-decoration: none; margin: 0 10px;">
          <img src="http://80.211.123.141:8087/TwentyfiveMediaManager/twentyfiveserver/downloadkkk/apa/email/ico-fb.png" style="width: 14px; height: 14.5px;">
        </a>
        <a href="https://www.instagram.com/anticapasticceriarende/" style="color: white; text-decoration: none; margin: 0 10px;">
          <img src="http://80.211.123.141:8087/TwentyfiveMediaManager/twentyfiveserver/downloadkkk/apa/email/ico-insta.png" style="width: 14px; height: 14.5px;">
        </a>
      </div>
    </div><!-- CONTATTI -->

    <div class="col-12 col-lg-3">

      <a class="btn btn-primary menu-btn" routerLink="/menu" target="_blank">
        <div class="col-2 me-2">
          <img src="assets/images/menu-btn-logo.png">
        </div>
        <div class="col-8 mt-2">
          <div class="row">
            <p style="color: #CDBB6D"><b>Consulta il nostro menù completo!</b></p>
          </div>
        </div>
      </a>

    </div><!-- BOTTONE MENU -->
  </div>

  <div style="display: flex; justify-content: center;">
    <div class="row copyright">
      <hr>
      <p>Antica Pasticceria - Copyright 2024</p>
    </div>
  </div>

</div>
