<div class="row tab-container">
  <ul class="nav nav-tabs flex-grow-0" id="myTab" role="tablist">
    <li *ngFor="let category of categories" class="nav-item" role="presentation" ngbDropdown>
      <ng-container *ngIf="category.type !== 'productWeighted'">
        <div (click)="setActiveTab(category)" style="cursor: pointer" class="nav-link " id="{{category.id}}-tab" data-bs-toggle="tab" [attr.data-bs-target]="'#'+category.id" role="tab" [class.active]="activeTab === category.id" [attr.aria-controls]="category.id" aria-selected="true">
          {{category.name}}
        </div>
      </ng-container>
    </li>
  </ul>
</div>


<div class="tab-content" id="myTabContent">

  <div *ngIf="!(loadingService.loading$ | async)">

    <div class="mt-5" *ngIf="trayList.length == 0 && productListKg.length == 0">
      <app-no-item-card></app-no-item-card>
    </div>

    <ng-container *ngFor="let category of categories">
      <div *ngIf="activeTab === category.id" style="cursor: pointer" class="tab-pane fade show active" id="{{category.id}}-tab" role="tabpanel" [attr.aria-labelledby]="category.id + '-tab'">
        <!-- Bottone "Torta Personalizzata" o "Vassoio Personalizzato" -->
        <div class="row mt-3 mb-3">
          <div class="col-12 ">
            <lib-generic-button-text-with-icon *ngIf="category.name === 'Le Nostre Torte' && customerIdkc != ''"
                                               buttonText="Torta Personalizzata"
                                               suffixIcon="bi bi-plus-circle"
                                               [buttonSize]="ButtonSizeTheme.FullWidth"
                                               [buttonStyle]="ButtonTheme.Secondary"
                                               [customStyles]="{'height': '120px','color': 'white'}"
                                               [iconLeft]="false"
                                               (click) = "modalCustomCake()"
            ></lib-generic-button-text-with-icon>
            <lib-generic-button-text-with-icon *ngIf="category.name === 'Le Nostre Torte' && customerIdkc === ''"
                                               buttonText="Torta Personalizzata"
                                               suffixIcon="bi bi-plus-circle"
                                               [buttonSize]="ButtonSizeTheme.FullWidth"
                                               [buttonStyle]="ButtonTheme.Secondary"
                                               [customStyles]="{'height': '120px','color': 'white'}"
                                               [iconLeft]="false"
                                               (click) = "goToLogin()"
            ></lib-generic-button-text-with-icon>
            <lib-generic-button-text-with-icon *ngIf="category.name === 'Vassoi' && customerIdkc != '' "
                                               buttonText="Vassoio Personalizzato"
                                               suffixIcon="bi bi-plus-circle"
                                               [buttonSize]="ButtonSizeTheme.FullWidth"
                                               [buttonStyle]="ButtonTheme.Secondary"
                                               [customStyles]="{'height': '120px','color': 'white'}"
                                               [iconLeft]="false"
                                               (click)="customizedTray()"
            ></lib-generic-button-text-with-icon>
            <lib-generic-button-text-with-icon *ngIf="category.name === 'Vassoi' && customerIdkc === '' "
                                               buttonText="Vassoio Personalizzato"
                                               suffixIcon="bi bi-plus-circle"
                                               [buttonSize]="ButtonSizeTheme.FullWidth"
                                               [buttonStyle]="ButtonTheme.Secondary"
                                               [customStyles]="{'height': '120px','color': 'white'}"
                                               [iconLeft]="false"
                                               (click)="goToLogin()"
            ></lib-generic-button-text-with-icon>
          </div>
        </div>
        <!-- Contenuto dinamico della scheda -->
        <div class="row">
          <ng-container  [ngSwitch]="category.type">
            <ng-container *ngSwitchCase="'productKg'">
              <ng-container  *ngFor="let product of productListKg">
                <div *ngIf="customerIdkc!=''" class="col-sm-12 col-md-6 col-lg-4 mb-4"  >
                  <app-generic-card class="w-100"
                                    [title]="product.name"
                                    [ingredientList]="product.ingredients"
                                    [allergens]="product.allergens"
                                    [price]="product.pricePerKg+'/kg'"
                                    [imageUrl]="product.imageUrl"
                                    (click)="modalProduct(product.id)">
                  </app-generic-card>
                </div>

                <div *ngIf="customerIdkc===''" class="col-sm-12 col-md-6 col-lg-4 mb-4"  >
                  <app-generic-card class="w-100"
                                    [title]="product.name"
                                    [ingredientList]="product.ingredients"
                                    [allergens]="product.allergens"
                                    [price]="product.pricePerKg+'/kg'"
                                    [imageUrl]="product.imageUrl"
                                    (click)="goToLogin()">
                  </app-generic-card>
                </div>

              </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'tray'">
              <ng-container *ngFor="let tray of trayList">
                <div *ngIf="customerIdkc!=''" class="col-sm-12 col-md-6 col-lg-4 mb-4"  >
                  <app-generic-card class="w-100"
                                    [title]="tray.name"
                                    [description]="tray.description"
                                    [allergens]="tray.allergens"
                                    [price]="'€'+tray.pricePerKg+'/kg'"
                                    [imageUrl]="tray.imageUrl"
                                    (click)="modalProduct(tray.id)">
                  </app-generic-card>
                </div>
                <div *ngIf="customerIdkc===''" class="col-sm-12 col-md-6 col-lg-4 mb-4"  >
                  <app-generic-card class="w-100"
                                    [title]="tray.name"
                                    [description]="tray.description"
                                    [price]="'€'+tray.pricePerKg+'/kg'"
                                    [imageUrl]="tray.imageUrl"
                                    (click)="goToLogin()">
                  </app-generic-card>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

        <hr class="mt-5">

        <div class="d-flex justify-content-end align-items-center pagination-container" *ngIf="totalPages > 1">
          <button class="pagination-button me-2" (click)="previousPage()" [disabled]="currentPage === 1">
            <i class="bi bi-chevron-double-left pagination-icon"></i>
          </button>
          <span class="pagination-text">Pagina {{ currentPage }} di {{ totalPages }}</span>
          <button class="pagination-button ms-2" (click)="nextPage()" [disabled]="currentPage === totalPages">
            <i class="bi bi-chevron-double-right pagination-icon"></i>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
