.small-icon {
  font-size: 16px; /* Regola questa dimensione secondo le tue esigenze */
}

.padded-left {
  padding-left: 20px; /* Regola questo valore secondo le tue esigenze */
}

.padded-right {
  padding-right: 50px; /* Regola questo valore secondo le tue esigenze */
}
